/*-------------Reset-------------*/
button {
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

button:focus,
input:focus {
    outline: 0;
}

html {
    scroll-behavior: smooth;
    font-family: "Saira Semi Condensed", sans-serif;
}

/*-------------Layout-------------*/
body {
    line-height: 1.5em;
    padding: 0;
    margin: 0;
}

section {
    height: 100vh;
}

#home {
    background-image: url(../images/wallpapers/1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about {
    background-image: url(../images/wallpapers/2.jpg);
}

#work {
    background-image: url(../images/wallpapers/3.jpg);
}

#contact {
    background-image: url(../images/wallpapers/4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*-------------Helpers-------------*/
.skew {
    transform: skew(-20deg);
}

.un-skew {
    transform: skew(20deg);
}

/*-------------Nav-------------*/
#nav-wrapper {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

#nav {
    background-color: transparent;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 4em;
    overflow: hidden;

    transition-property: background-color, border-radius, margin;
    transition-duration: 1s;
}

#nav.nav-visible {
    height: 100%;
    overflow: auto;
}

.nav {
    display: flex;
    height: 4em;
    line-height: 4em;
    flex-grow: 1;
}

.nav-link,
.logo {
    padding: 0 1em;
    margin: 0;
}

span.gradient {
    background: #b40035;
    background: -webkit-linear-gradient(45deg, #b40035, #dc572f);
    background: linear-gradient(45deg, #b40035, #dc572f);
    padding: 0 1em;
    position: relative;
    right: 1em;
    margin-right: auto;
}

span.gradient:hover {
    animation-name: hover;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
}

h1.logo {
    font-weight: 300;
    font-size: 1.75em;
    line-height: 0.75em;
    color: #fff;
}

h1.logo a,
a:active,
a:hover,
a:visited {
    text-decoration: none;
    color: #fff;
}

.nav-link {
    text-transform: uppercase;
    text-align: center;
    border-top: 0.5px solid #ddd;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: #b40035;
}

a:hover {
    animation-name: hover;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
}

.right {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.btn-nav {
    color: #b40035;
    padding-left: 2em;
    padding-right: 2em;
}

@media screen and (min-width: 800px) {

    #nav {
        overflow: hidden;
        flex-direction: row;
    }

    .nav-link {
        border-top: none;
    }

    .right {
        overflow: hidden;
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
        left: 1.5em;
        height: auto;
    }

    .btn-nav {
        display: none;
    }

    .nav a:link.active,
    a:visited.active,
    a:active.active {
        background: #b40035;
        background: -webkit-linear-gradient(45deg, #b40035, #dc572f);
        background: linear-gradient(45deg, #b40035, #dc572f);
        color: #fff;
    }

    .nav-link-span {
        transform: skew(20deg);
        display: inline-block;
    }

    .nav-link {
        transform: skew(-20deg);
        color: #777;
        text-decoration: none;
    }

    .nav-link:last-child {
        padding-right: 3em;
    }

    a:hover.nav-link:not(.active) {
        color: #000000;
        background: #b40035;
    }

    .scrolled {
        background-color: rgba(94, 253, 208, 0.5) !important;
        position: relative;
        top: 50px;
        border-radius: 50px;

        margin: 0 100px;

        transition-property: background-color, border-radius, margin;
        transition-duration: 1s;
    }
}

@media screen and (max-width: 800px) {
    .scrolled {
        position: relative !important;
        top: 0 !important;
        margin: 0 !important;
        border-radius: 0 !important;
    }

    .text {
        width: 100% !important;
        height: 80% !important;
        margin: 0 !important;
    }

    .images {
        display: none !important;
    }

}

@keyframes hover {
    20% {
        padding-right: 0em;
    }

    100% {
        padding-right: 5em;
    }
}

/* Personal */

img {
    width: 100px;
}

section .content {
    height: 100%;

    display: flex;

    align-items: center;

    position: relative;

    z-index: 1;
}

.text {
    width: 70%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border: 10px solid;
    border-image: linear-gradient(to left, #ad1919, #914c0d) 60 30;
}

.images {
    width: 20%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border: 10px solid;
    border-image: linear-gradient(to right, #abcf5a, #5efdd0) 60 30;

    display: grid;
    grid-template-rows: repeat(3);
    grid-gap: 10px;
}

.imagesRight {
    margin-left: 1%;
}

.imagesLeft {
    margin-left: 1%;
}

.image {
    grid-column: 1;
}

.one {
    background-color: #947839;
}

.two {
    background-color: #dc572f;
}

.three {
    background-color: #e58e25;
}

.Right {
    margin-left: 2%;
}

.Left {
    margin-left: 1%;
}


svg {
    position: absolute;

    animation: wave 15s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite;
}

svg path {
    animation: color 15s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }

    50% {
        margin-left: -100%;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes color {
    0% {
        fill: #617e1e;
    }

    50% {
        fill: #175241;
    }

    100% {
        fill: #617e1e;

    }
}